/* all pages */

footer {
  margin: 20px;
  font-size: 12px;
} 

.toast {
    /* dirty: below 'card' button  */
    position: fixed; 
    top: 50px; 
    right: 10px; 
    z-index: 1000;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.shop-button {
  font-size: 15px;
  margin-top: -4px;
}

.article-container {
  margin: auto;
  max-width: 1200px;
  padding: 20px;
}



/* categorie/index template*/
.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

/* categorie/index template*/
.card {
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Zachte schaduw voor effect */
  text-align: center;
}

/* categorie/index template*/
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); /* Kaarten worden gelijkmatig verdeeld */
  gap: 20px; 
  padding: 20px;
}

/* categorie/index template*/
.card-header {
  height: 5em;
}

/* categorie/index template*/
.card-text {
  flex-grow: 1;
  min-height: 80px;
  text-align: center;
}

/* categorie/index template*/
.card-footer {
  display: flex;
  justify-content: center;
  padding: 10px;
}






/* index page */
.product{
  width: 100%; 
  height: inherit; 
  margin-bottom: 10px;
  margin-top: 20px;
}

.product img {
  margin: auto;
  margin-top: 20px;
  max-width: 100%;
  height: auto;
  display: block;
}

.product > .card-header {
  height:3em
}

.product-properties > li > .property-name {
  display: inline-block;
  width: 50px;
}
.product_amount {
  width: 80px
}

/* basket page */
.product-properties {
  text-align: center;
}

.product_row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.product_row  .product-properties  li {
  flex: 1 1 25%;
}



body {
  background-color: rgb(9, 134, 192);
}